---
const { sideBarActiveItemID } = Astro.props;
import { getArchiveByMonth } from "../utils/archive.ts";
const archive = await getArchiveByMonth();
const grouped = Object.entries(archive).sort((a, b) => b[0].localeCompare(a[0])); // 降順
---
<div class="drawer-side z-40">
  <label for="my-drawer" class="drawer-overlay"></label>
  
  <aside class="px-2 pt-2 h-auto min-h-full w-[19rem] bg-base-200 text-base-content flex flex-col">
    
    <!-- トップ画像（OGPをロゴ代用） -->
    <div class="w-fit mx-auto mt-5 mb-2">
      <a href="/" aria-label="トップページへ">
        <img
          src="/images/ogp/ogp.png"
          alt="Family Treehouse ロゴ画像"
          class="rounded-lg shadow transition ease-in-out hover:scale-[102%] w-[11rem]"
          width="300"
          height="300"
          loading="lazy"
        />
      </a>
    </div>

    <!-- サイドバーメニュー -->
    <nav class="flex-1">
      <ul class="menu px-2 text-sm space-y-1">
      
        <!-- コンテンツカテゴリ 
        <li class="mt-4 font-semibold">📖 記録とコンテンツ</li>
        <li><a href="/parks">家族のおでかけマップ</a></li>
        <li><a href="/plants">日々のアルバム</a></li>
        <li><a href="/seasons">季節のイベント記</a></li>
        <li><a href="/walks">散歩・休日の記録</a></li>
        <li><a href="/terms">用語・家族の豆知識</a></li>
        <li><a href="/dates">投稿日順</a></li>
        <li><a href="/links">リンク・参考集</a></li>
        -->

        <!-- 発見と学び -->
        <li class="mt-4 font-semibold">🔍 発見とメモ</li>
        <li><a href="/tags">🏷 タグ一覧</a></li>
        <li><a href="/archive">📂月別アーカイブ</a></li>


      </ul>
    </nav>
    
  </aside>
</div>
